


.header{

    /* border: 2px solid red; */
    width: 100%;
    height: 80px;
    line-height: 80px;
}
.logo img{
    /* border: 2px solid rgba(255, 0, 0, 0.348); */
    width: 30%;
}
.menu{
    /* border: 2px solid rgba(0, 255, 0, 0.664); */
    margin-bottom:0 ;
}
.nav__item a{
    /* border: 2px solid rgba(0, 255, 0, 0.39); */
    text-decoration: none;
    color: var(--heading-color);
    font-weight: 500;
    font-size: 1.1rem;
    /* list-style-type: none; */

 }


.nav__item a.active__link{
    color: var(--secondary-color);
}
.mobile__menu{
    /* border: 2px solid rgba(149, 0, 255, 0.39); */
    font-size: 1.3rem;
    color: var(--heading-color);
    display: none;
}
.sticky__header {
    /* border: 2px solid rgba(0, 255, 85, 0.616); */
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: #fff;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 8px -3px #ddd;
    z-index: 999;

}  */


/* Base styles for all screen sizes */
.header {
    width: 100%;
    height: 80px;
    line-height: 80px;
}
.logo img {
    width: 30%;
}
.menu {
    margin-bottom: 0;
}
.nav__item a {
    text-decoration: none;
    color: var(--heading-color);
    font-weight: 500;
    font-size: 1.1rem;
}
.nav__item a.active__link {
    color: var(--secondary-color);
}
.mobile__menu {
    font-size: 1.3rem;
    color: var(--heading-color);
    display: none;
}
.sticky__header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: #fff;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 8px -3px #ddd;
    z-index: 999;
}

/* Responsive styles */
@media (max-width: 992px) {
    .logo img {
        width: 50%;
    }
    .nav__item a {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .header {
        height: 60px;
        line-height: 60px;
    }
    .sticky__header {
        height: 60px;
        line-height: 60px;
    }
    .menu {
        display: none;
    }
    .mobile__menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .header {
        height: 50px;
        line-height: 50px;
    }
    .sticky__header {
        height: 50px;
        line-height: 50px;
    }
    .logo img {
        width: 70%;
    }
    .nav__item a {
        font-size: 0.9rem;
    }

}
