.about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .about-content {
    text-align: left;
  }
  
  .about-content h1 {
    font-size: 2.5rem;
    color: var(--heading-color);
    margin-bottom: 1rem;
  }
  
  .about-content h2 {
    font-size: 2rem;
    color: var(--secondary-color);
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  .about-content p {
    font-size: 1.1rem;
    color: var(--text-color);
    line-height: 1.8rem;
    margin-bottom: 1.5rem;
  }
  
  @media (max-width: 768px) {
    .about-container {
      padding: 1rem;
    }
  
    .about-content h1 {
      font-size: 2rem;
    }
  
    .about-content h2 {
      font-size: 1.5rem;
    }
  
    .about-content p {
      font-size: 1rem;
    }
  }
  