

.hero__subtitle img {
    width: 2.3rem;
    height: 2.3rem;
}
.hero__content h1{
/* 
    border: 1px solid gold;

    border: 1px solid gold; */

    font-size: 3.2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--heading-color);
}
.hero__content h1 .highlight{
    color: var(--secondary-color);
}
.hero__content p{
    font-size: 1.1rem;
    color: var(--text-color);
    line-height: 2rem;
}
.hero__img-box img,
.hero__img-box video {
    width: 100%;
    height: 350px;
    border-radius: 20px;
    border: 1px solid var(--secondary-color);
    object-fit: cover;
}

.hero__content{
   padding-top: 3.5 rem;
}
.hero__img-box {

    /* transform: scale(1);
    padding-top: 2rem;
}
.hero__img-box :hover{
    transform: scale(1);
}

.services__subtitle{
    /* border: 1px solid gray; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color: grey;
    font-weight: 500;
    /* color: #ee6e6e; */
    /* font-family: var(--subtitle-font-name); */
    /* font-family:var(--subtitle-font-name) ; */
}
.services__title {
  /* border: 1px solid green; */
  font-size: 1.7rem;
  font-weight: 500;  
}
.featured__tour-title{
    font-size: 1.8rem;
    font-weight: 500;
}
.experience__content h2 {
    font-size: 2.3rem;

    padding-top: 2rem;
}
.services__subtitle{
    /* border: 1px solid gray; */
    font-size: 1.5rem;
    font-weight: 500;
    color: #ee6e6e;
    /* font-family: var(--subtitle-font-name); */
    font-family:var(--subtitle-font-name) ;
}
.services__title {
  /* border: 1px solid green; */
  font-size: 2.5rem;
  font-weight: 500;  
}
.featured__tour-title{
    font-size: 2.3rem;
    font-weight: 500;
}
.experience__content h2 {
    font-size: 2.5rem;

    margin-top: 1rem;
    font-weight: 500;
}
.experience__content p {
    font-size: 1.1rem;
    color: var(--text-color);
    margin-top: 1rem;
}
.counter__wrapper{
    margin-top: 2.5rem;
}
.counter__box span{
    /* border: 1px solid red; */
    width: 70px;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 10px 5px 10px 5px;
}

.counter__box h6{
    font-size: 1.1rem;
    margin-top: 0.7rem;
    color: var(--text-color);
}
.experience__img img {
    width: 50%;
}
.gallery__title{

    font-size: 1.7rem;

    font-size: 2.3rem;

    margin-bottom: 2.5rem;
    margin-top: 1rem;
}
.masonry__img {
    transition: 0.3s;
}
.masonry__img:hover {
    transform: scale(1.1);
}
.testimonial__title{
    font-size: 2.3rem;
    margin-top: 1rem;

} 

/* Responsive styles */
@media (max-width: 1200px) {
    .hero__content h1 {
        font-size: 2.8rem;
    }
    .hero__img-box img,
    .hero__img-box video {
        height: 300px;
    }
    .services__subtitle {
        font-size: 1.8rem;
    }
    .services__title {
        font-size: 1.5rem;
    }
    .featured__tour-title {
        font-size: 1.6rem;
    }
    .experience__content h2 {
        font-size: 2rem;
    }
    .gallery__title {
        font-size: 1.5rem;
    }
}

@media (max-width: 992px) {
    .hero__content h1 {
        font-size: 2.5rem;
    }
    .hero__img-box img,
    .hero__img-box video {
        height: 250px;
    }
    .services__subtitle {
        font-size: 1.6rem;
    }
    .services__title {
        font-size: 1.3rem;
    }
    .featured__tour-title {
        font-size: 1.4rem;
    }
    .experience__content h2 {
        font-size: 1.8rem;
    }
    .gallery__title {
        font-size: 1.3rem;
    }
}

@media (max-width: 768px) {
    .hero__content h1 {
        font-size: 2.2rem;
    }
    .hero__img-box img,
    .hero__img-box video {
        height: 200px;
    }
    .services__subtitle {
        font-size: 1.4rem;
    }
    .services__title {
        font-size: 1.1rem;
    }
    .featured__tour-title {
        font-size: 1.2rem;
    }
    .experience__content h2 {
        font-size: 1.6rem;
    }
    .gallery__title {
        font-size: 1.1rem;
    }
}

@media (max-width: 576px) {
    .hero__content h1 {
        font-size: 2rem;
    }
    .hero__img-box img,
    .hero__img-box video {
        height: 150px;
    }
    .services__subtitle {
        font-size: 1.2rem;
    }
    .services__title {
        font-size: 1rem;
    }
    .featured__tour-title {
        font-size: 1rem;
    }
    .experience__content h2 {
        font-size: 1.4rem;
    }
    .gallery__title {
        font-size: 1rem;
    }
}

