
/* .search__bar{
=======
.search__bar{

    border: 1px solid red;
    padding : 0.5rem 1rem ;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    width: max-content;
}
.form__group span{
    font-size: 1.8rem;
    color: #ee6e6e;
}
.form__group input{
    border: none;
    font-size :0.9rem;
    color: var(--heading-color);
    font-weight: 500;
}
.form__group input:focus{
    outline: none;
}
.form__group h6{
    margin-bottom: 0;
}
.form__group-fast {
    border-right: 2px solid #ddd;
}
.search__icon i {
    font-size: 1.6rem;
    padding: 0.5rem;
    background: var(--secondary-color);
    color: #fff;
    border-radius: 10px 5px 10px 5px;
    cursor: pointer;

} */
/* Base styles for all screen sizes */
.search__bar {
    padding: 0.5rem 1rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    width: max-content;
}
.form__group span {
    font-size: 1.8rem;
    color: #ee6e6e;
}
.form__group input {
    border: none;
    font-size: 0.9rem;
    color: var(--heading-color);
    font-weight: 500;
}
.form__group input:focus {
    outline: none;
}
.form__group h6 {
    margin-bottom: 0;
}
.form__group-fast {
    border-right: 2px solid #ddd;
}
.search__icon i {
    font-size: 1.6rem;
    padding: 0.5rem;
    background: var(--secondary-color);
    color: #fff;
    border-radius: 10px 5px 10px 5px;
    cursor: pointer;
}

/* Responsive styles */
@media (max-width: 992px) {
    .search__bar {
        width: 100%;
        padding: 0.5rem;
    }
    .form__group span {
        font-size: 1.5rem;
    }
    .form__group input {
        font-size: 0.85rem;
    }
    .search__icon i {
        font-size: 1.4rem;
    }
}

@media (max-width: 768px) {
    .search__bar {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        box-shadow: rgba(17, 12, 46, 0.1) 0px 24px 50px 0px;
    }
    .form__group {
        margin-bottom: 1rem;
    }
    .form__group-fast {
        border: none;
    }
}

@media (max-width: 576px) {
    .form__group span {
        font-size: 1.2rem;
    }
    .form__group input {
        font-size: 0.8rem;
    }
    .search__icon i {
        font-size: 1.2rem;
        padding: 0.3rem;
    }
}

